<html>

<head>

	<link rel="stylesheet" type="text/css" href="../styles/popup.css">

	<script src="../jquery/jquery-3.4.1.min.js"></script>
	<script src="../scripts/popup.js"></script>

</head>

<body>

	<div class="content">

		<h2> Clipboard text </h2>
		<textarea id="pasteTextArea"></textarea>	

		<br/>
		
		<input id="allLowerCase" type="button" value="this is a sample sentence">
		
		<br/>
		
		<input id="allUpperCase" type="button" value="THIS IS A SAMPLE SENTENCE">
		
		<br/>

		<input id="sentenceType" type="button" value="This is a sample sentence.">

		<br/>

		<input id="firstLettersUpperCase" type="button" value="This Is A Sample Sentence">

		<br/>

		<input id="alternateCase" type="button" value="AbCd -> aBcD">

		<br/>
		
		<h2> Previous text </h2>
		<textarea id="copyTextArea"></textarea>	

	</div>

</body>

</html>